* {
  outline: none;
  font-family: sans-serif;
}
#main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 1.6;
}
/* body {
  width: 100vw;
  height: 100vw;
} */

input {
  outline: none;
  width: 350px;
  height: 40px;
  font-size: 24px;
  padding: 5px 10px;
  border-radius: 4px;
  border: 2px solid black;
}

#login, #mdp{
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
}

label {
  color: gray;
  margin-top: 2px;
}

body{
  width: 100vh;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
#game{
  background-color: rgb(116, 150, 141);
  width: 400px;
  height: 350px;
  box-sizing: border-box;
  display: inline;
  flex-direction: row;
  padding-bottom: 6px;
}
.line{
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: row;
  padding: 10px 10px 1px 10px;
  box-sizing: border-box;
  background-color: rgb(143, 88, 88);
}
.square{
  display: flex;
  width: 50%;
  height: 100%;
  margin-right: 10px;
}
.square:last-of-type{
  margin-right: 0;
}
.square[data-state='0']{
  background-color: #555;

}
.square[data-state='0']:hover{
  cursor: pointer;
  background-color: rgb(83, 204, 198);
}
.square[data-state='1']{
  background-color: #8f7526;
}

.square[data-state='1']:hover, .square[data-stae='1'] :hover{
  cursor: a;
}
.square[data-state='2']{
  background-color: #2781f5;
}